.body {
    width: 100%;
    height: 800px;

    /deep/.van-sticky {
        width: 100%;
        height: 45px;
        line-height: 45px;
        text-align: center;
        background-color: rgba(233, 233, 33, 0.911);
        font-size: 18px;
        color: white;
        font-weight: 600;
    }

    .main{
        padding-top: 140px;
        width: 60%;
        margin: 0 auto;
        text-align: center;
        img{
            display: block;
            width: 100%;
            height: 30%;
        }
        h3{
            padding: 10px 0;
            font-size: 17px;
            color: #6a6a6a;
        }
        .van-button{
            display: inline-block;
            background: rgba(231, 201, 33, 0.911);
            font-size: 14px;
            color: #fff;
            border: 0;
            outline: none;
            border-radius: 5px;
            padding: 10px 20px;
        }
    }
}

