.body {
    width: 100%;
    height: 800px;

    /deep/.van-sticky {
        width: 100%;
        height: 45px;
        line-height: 45px;
        text-align: center;
        background-color: rgba(233, 233, 33, 0.911);
        font-size: 18px;
        color: white;
        font-weight: 600;
    }

    .search {
        display: flex;
        align-content: space-between;
        border: 1px solid gray;
        .van-cell{
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;
        }
        .van-button {
            width: 70px;
            text-align: center;
            background-color: rgb(252, 198, 98);
            border: none;
        }
    }
  .list{
    .list_container{
      background-color: #fff;
      .list_li{
        display: flex;
        justify-content: center;
        padding: 10px;
        border-bottom: 1px solid;
        .item_left{
          margin-right: 10px;
          .restaurant_img{
            width: 50px;
            height: 50px;
            display: block;
          }
        }
        .item_right{
          font-size: 12px;
          flex: 1;
          .item_right_text{
            p{
              line-height: 12px;
              margin-bottom: 6px;
              margin-top: 0px;
              &:last_child{
                margin-bottom: 0px;
              }
            }
          }
        }
      }
    }
  }
  .search_none{
    margin: 0 auto;
    color: #333;
    background-color: #fff;
    text-align: center;
    margin-top: 0.125rem;
  }
}